<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>Classes</title>
    <link href="/css/bootstrap.css" rel='stylesheet' type='text/css'/>
    <link href="/css/style.css" rel='stylesheet' type='text/css'/>
</head>
<body>
<div class="menu" id="menu">
    <div class="container">
        <div class="logo">
            <a href="/home.html"><img src="images/logo.png" alt=""/></a>
        </div>
        <div class="h_menu4"><!-- start h_menu4 -->
            <ul class="nav">
                <li class="active"><a href="/home.html">Home</a></li>
                <li><a href="trainers.html">Trenerzy</a></li>
                <li><a href="classes.html">Klasy</a></li>
                <li sec:authorize="isAnonymous()"><a href="/login">Zaloguj się</a></li>
                <li sec:authorize="isAuthenticated()">
                    <a href="/login?logout" >Wyloguj się</a>
                </li>
                <li><a href="/registration.html">Zarejestruj</a></li>
                <li sec:authorize="hasAuthority('ADMIN')"><a href="/addEvent.html">Dodaj zajęcia</a></li>

            </ul>
        </div><!-- end h_menu4 -->
        <div class="clear"></div>
    </div>
</div>

<div class="container">
    <!-- start content-top -->
    <div class="row content-top">
        <div class="col-md-5">
            <img src="images/pic10.jpg" class="img-responsive" alt=""/>
        </div>
        <div class="col-md-7 content_left_text">
            <h3>Klasa 1 - Zumba/Pool Dance</h3>
            <p>Adipisci beatae, consequuntur, debitis deserunt illo labore maiores nobis officiis omnis porro, similique
                soluta
                sunt vitae. Beatae ea molestiae quas quidem ratione. Adipisci, dolore eveniet? Assumenda ea explicabo
                impedit
                quibusdam?</p>
        </div>
    </div>
</div>
<div class="container">
    <!-- start content-top -->
    <div class="row content-top">
        <div class="col-md-5">
            <img src="images/c4.jpg" class="img-responsive" alt=""/>
        </div>
        <div class="col-md-7 content_left_text">
            <h3>Klasa 2 - Aerobik/Pool Dance</h3>
            <p>Adipisci beatae, consequuntur, debitis deserunt illo labore maiores nobis officiis omnis porro, similique
                soluta
                sunt vitae. Beatae ea molestiae quas quidem ratione. Adipisci, dolore eveniet? Assumenda ea explicabo
                impedit
                quibusdam?</p>
        </div>
    </div>
</div>
<div class="container">
    <!-- start content-top -->
    <div class="row content-top">
        <div class="col-md-5">
            <img src="images/c6.jpg" class="img-responsive" alt=""/>
        </div>
        <div class="col-md-7 content_left_text">
            <h3>Aerobik</h3>
            <p>Adipisci beatae, consequuntur, debitis deserunt illo labore maiores nobis officiis omnis porro, similique
                soluta
                sunt vitae. Beatae ea molestiae quas quidem ratione. Adipisci, dolore eveniet? Assumenda ea explicabo
                impedit
                quibusdam?</p>
        </div>
    </div>
</div>
<div class="container">
    <!-- start content-top -->
    <div class="row content-top">
        <div class="col-md-5">
            <img src="images/zumba.jpg" class="img-responsive" alt=""/>
        </div>
        <div class="col-md-7 content_left_text">
            <h3>Zumba</h3>
            <p>Adipisci beatae, consequuntur, debitis deserunt illo labore maiores nobis officiis omnis porro, similique
                soluta
                sunt vitae. Beatae ea molestiae quas quidem ratione. Adipisci, dolore eveniet? Assumenda ea explicabo
                impedit
                quibusdam?</p>
        </div>
    </div>
</div>

</body>
</html>