<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
</head>
<body>
<h1>LISTA ZDARZEN</h1>
<ul th:each="entity : ${entities}">
    <li>
        <div th:text="${entity.date}"></div>
        <div th:text="${entity.getHour() + ':' + entity.getMinute()}"></div>
        <div th:text="${entity.room.roomNumber}"></div>
        <div th:text="${entity.activitiesType.name}"></div>
        <div th:text="${entity.activitiesType.coachName}"></div>
        <form th:method="POST" th:action="@{/EventController/{entity.id}>
            <button type="submit">Zapisz mnie</button>
        </form>
    </li>
</ul>
</body>
</html>