<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <link href="/css/bootstrap.css" rel='stylesheet' type='text/css'/>
    <link href="/css/style.css" rel='stylesheet' type='text/css'/>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.min.js"></script>
    <title>Lista koncertow</title>
</head>
<body>
<div class="menu" id="menu">
    <div class="container">
        <div class="logo">
            <a href="/home.html"><img src="images/logo.png" alt=""/></a>
        </div>
        <div class="h_menu4"><!-- start h_menu4 -->
            <ul class="nav">
                <li class="active"><a href="/home.html">Home</a></li>
                <li><a href="solisci.html">Soliści</a></li>
                <li><a href="scena.html">Sceny</a></li>
                <li><a href="eventList.html">Lista Koncertów</a></li>
                <li sec:authorize="isAnonymous()"><a href="/login">Zaloguj się</a></li>
                <li sec:authorize="isAuthenticated()">
                    <a href="/login?logout">Wyloguj się</a>
                </li>
                <li sec:authorize="isAnonymous()"><a href="/registration.html">Zarejestruj</a></li>
                <li sec:authorize="hasAuthority('ADMIN')"><a href="/addEvent.html">Dodaj koncert</a></li>
            </ul>
        </div><!-- end h_menu4 -->
        <div class="clear"></div>
    </div>
</div>


<div class="row content-middle">

    <h3 class="m_2"> Spis koncetow:</h3>
    <h4 class="m_2" style="text-align: center;">Wszystkie koncerty trwają 90 minut</h4>
    <div class="classes">
        <table class="table table-striped table-inverse">
            <thead>
            <tr>
                <th></th>
                <th>KONCERT</th>
                <th>GODZINA</th>
                <th>SOLISTA</th>
                <th>SCENA NR (Miejsca)</th>
                <th>KOSZT CALKOWITY</th>
                <th>KONTRAHENT</th>
                <th>STATUS</th>

            </tr>
            </thead>
            <tbody>
            <tr th:each="entity : ${entities}">
                <th scope="row" th:text="${entity.id}"></th>
                <td th:text="${entity.activitiesType.name}"></td>
                <td th:text="${entity.getHour() + ':' + entity.getMinute()}"></td>
                <td th:text="${entity.activitiesType.soloistName}">2.41</td>
                <td th:text="${entity.room.roomNumber} + '( ' + ${entity.room.numberOfPlaces}+ ' )'"></td>
                <th th:text="${entity.cost}"></th>
                <th th:text="${entity.contractor}"></th>
                <th th:text="${entity.status}"></th>

                <td>
                    <a href="#"
                       data-th-href="@{/{id}/editEvent/(id=${entity.id})}"
                       class="btn btn-primary">
                        Edit
                    </a>
                    <form action="" data-th-action="@{/{id}/delete/(id=${entity.id})}" method="post">
                        <button class="btn btn-danger" type="submit">Delete</button>
                    </form>
                </td>
            </tr>
            </tbody>
        </table>
        <div class="row">
            <div class="col-md-6 col-md-push-3">
                <textarea class="form-control" id="myTextBox"></textarea>
                <button style="text-align: center" class="btn btn-primary" id="btn1">Dodaj Komentarz</button>
            </div>
        </div>
    </div>
    <div style="text-align: center" id="comment">
    </div>
</div>
<script>
    $(document).ready(function () {
        var i = 0;
        $("#btn1").click(function () {

            var a = $('#myTextBox').val();
            $("#comment").append("<div><b>" + "anonim " + i++ + "</b>");

            $("#comment").append("   " + a);
            $("#comment").append("<br></br>" + "</div>");
        });
    });
</script>
</body>
</html>